@model FluentValidationApp.Web.DTOs.EventDateDto

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="post">
    <input asp-for="Day" />
    <input asp-for=" Month" />
    <input asp-for="Year" />
    <input type="submit" value="Kaydet" />
</form>

<h1>@ViewBag.Date</h1>
@* Type yazmadık kendi otomatik geldi. Ayrıca tek tek girdik ve bu date e dönüştü.*@