@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    <h1>Şu anda Development ortamındayız.</h1>
</environment>

<environment include="Staging">
    <h1>Şu anda Staging ortamındayız.</h1>
</environment>

<environment include="Alfa">
    <h1>Şu anda Alfa ortamındayız.</h1>
</environment>

<environment include="Production">
    <h1>Şu anda Production ortamındayız.</h1>
</environment>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
